if (menu === "register" || menu === "login")
	div.menu(class="blog")
		
		div.topLeft(style="background-image:url('/images/backgrounds/backgrounds_1.svg')")
		div.canvas.topRight
			//(style="background-color:#bad80a")
			div.overtext signature
			div.blogname Tool

else
	div.menu(:class="type")

		div.overtext(v-text="(dat && dat[0][0] && dat[0][0].title.str !== '' ? ((parseInt(dat[0][0].title.ind, 10) + 1) + 'th ' + dat[0][0].title.str) : '"+appTitle+"')")
		//- div.blogname(v-text="(doc && doc.pagetitle ? doc.pagetitle : '')")
		div.envel
			canvas#maincanvas.maincanvas.topRight(:style="{cursor: getCursor()}")
		div.topLeft
	