if (menu === "register" || menu === "login")
	div.menu(class="blog")
		
		div.topLeft(style="background-image:url('/images/backgrounds/backgrounds_1.svg')")
		div.canvas.topRight(style="background-image:url('/images/backgrounds/backgrounds_1.svg')")
			//(style="background-color:#bad80a")
			div.overtext signature
			div.blogname Tool

else
	div.menu(:class="type")
		div.topLeft(style="background-image:url('/images/backgrounds/backgrounds_1.svg')")

		div.canvas.topRight(style="background-image:url('/images/backgrounds/backgrounds_1.svg')")
			//- div.overtext(v-text="(dat && dat[0] && dat[0][0] && dat[0][0].title.str !== '' ? ((parseInt(dat[0][0].title.ind, 10) + 1) + 'th ' + dat[0][0].title.str) : (doc && doc.section ? (parseInt(doc.title.ind, 10) + 1)+'.'+(parseInt(doc.chapter.ind, 10) + 1)+'.'+(parseInt(doc.section.ind, 10) + 1) :'"+appTitle+"'))")
			//- div.blogname(v-html="(doc && doc.section ? (doc.title.str+'<br>'+doc.chapter.str+' '+ (doc.chapter.ind+1)+'<p class=\"tb-font-s\" style=\"color:black;\">'+doc.section.str+'</p>') : '')")
			div.overtext signature
			div.blogname Tool
			div.envel(width="100%", height="100%", style="width:100%;height:100%;")
				div.tb-font-xxxs.info#info(v-text="info", style="margin: calc(var(--thumbwidth) / 1.2) 0 0 var(--thumbwidth)")
				table(width="100%", height="100%", v-if="doc && pu && pu.username === loggedin && type === 'draw'")
					tr
						td
							div.row(style="text-align:center;")
								p.tb-10-m0 Sign Here 
								
							canvasc(
								@update="(val, ts, can) => setSigData(0, val, ts, can)"
								
							)
							
		div.topLeft
	