div.grid-mid
	if (imgindex)
		if (type === 'image')
			img(src= img)
		else
			embed(src= img, width="100%", height="100%")

div.grid-right
	each entry, i in data
		div.grid-container.inner
			a.grid-header(href="/"+entry.pagetitle+"")
				p.tb-font-l #{entry.pagetitle}
			div.grid-left
				if (entry.content[entry.content.length-1].substrates.length > 0)
					div.thumbnail.gallery(id= entry.pageindex, name= entry._id + "@all_" + entry.pageindex)
						div.actions
							//if (entry.content[entry.content.length-1].substrates[0].url)
							span.tb-font-s by 
							br
							span.tb-font-xxs #{entry.publishers[0].username}
						img(src= entry.content[entry.content.length-1].substrates[0].thumb)
					div#hide
						if (entry.content[entry.content.length-1].substrates[0].name !== '')
							span.tb-font-xxs #{entry.content[entry.content.length-1].substrates[0].name}


			div.grid-right
				p.tb-font-m.hideoverlap #{entry.content[entry.content.length-1].label}
				p.tb-font-s.hideoverlap
					!= md(entry.content[entry.content.length-1].description)
					span &nbsp ...
			div.grid-footer
				
		hr