p#info.tb-font-s(width="100%")
//(style="float: left;")
form#form.tb-u-100(enctype="multipart/form-data", method="POST", action="/api/editcontent/"+doc.urltitle+"/"+doc.pageindex+"/"+index+"/"+drawtype+"/"+contentData.level+"", style="margin-bottom: 50px")
					
	div.tb-u-100
		label.ms-Label Description 
		textarea.ms-TextField-field#inputtext(type="text", name="description", value= contentData.description, placeholder= contentData.description)
	div.tb-u-100
		span.tb-font-s#previewtext.translate #{contentData.description}
	input(type="hidden", id="title", name="title", value= contentData.title)
	input(type="hidden", id="inputimg", name="image")
	if (drawtype && contentData[drawtype][contentData.level] !== undefined)
		input(type="hidden", id="inputimg_"+drawtype+"_"+contentData.level+"", name= contentData[drawtype][contentData.level].name)
	button.tb-u-33.ms-Button.ms-Button--primary.block.spacer(id="submit", type="submit", ariaDescription="Save this Sandwich")
		span.ms-Button-label Save
	
if (contentData !== undefined && contentData.image !== "")
	a.tb-u-33.ms-Button.ms-Button--primary.block.spacer(role="button", href="#", title="Menu", onclick="blogModeModal('"+contentData.image+"');")
		span.ms-Button-label Share

//-
	div.tb-u-33
		a.ms-Button.ms-Button--alert#deletefeature.tb-u-100(href="#", role="button")
			span.ms-Button-label Delete Post
			span.tb-font-s(style="display: none") This cannot be undone. Continue?

div.tb-u-33
	a.ms-Button.tb-u-100.secondary(href="/", role="button")
		span.ms-Button-label.tb-u-100 Cancel

p.tb-font-xs#info

script(type="application/javascript").
	var form = document.getElementById("form");
	form.addEventListener('submit', function(event){
		event.preventDefault()

		var fd = new FormData(form);

		$.ajax({
			url: '/api/editcontent/'+'#{doc.urltitle}'+'/'+'#{doc.pageindex}'+'/'+'#{index}'+'/'+drawtype+'/'+layer+'',
			enctype: 'multipart/form-data',
			type: 'POST',
			data: fd,
			processData: false,
			contentType: false,
			success: function(response) {
				console.log(response)
				window.location.href = '/api/selectlayer'
			}
			
		})
		
	});
