doctype html
html
	head
		title= appTitle
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		link(rel="stylesheet", href="/stylesheets/jquery-ui.min.css")
		link(rel="stylesheet", href="/stylesheets/leaflet.css")
		link(rel="stylesheet", href="/stylesheets/default.css", type="text/css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css")

		if (doc)
			style(type="text/css") #{doc.css.string}
			if (doc.css.font.a.name)
				link(href="https://fonts.googleapis.com/css?family="+doc.css.font.a.name.split(' ').join('+')+"", rel="stylesheet")
				link(href="https://fonts.googleapis.com/css?family="+doc.css.font.b.name.split(' ').join('+')+"", rel="stylesheet")
				link(href="https://fonts.googleapis.com/css?family="+doc.css.font.c.name.split(' ').join('+')+"", rel="stylesheet")
			else
				link(href="https://fonts.googleapis.com/css?family="+doc.css.font.name.split(' ').join('+')+"", rel="stylesheet")
		else
			if (data)
				style(type="text/css") #{data[0].css.string}
			link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
		
		script(type="text/javascript", src="/scripts/jquery.min.js")
		script(type="text/javascript", src="/scripts/jquery-ui.min.js")
		script(type="text/javascript", src="/scripts/leaflet.js")
		script(type="text/javascript", src="/scripts/marked.min.js")
		script(src="https://use.fontawesome.com/b9a4978394.js")
		script(type="text/javascript", src="/scripts/d3.v3.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js")
		//script(src="https://unpkg.com/vue/dist/vue.js")
		
	body
		block page
		
		block header

		block content

		a#publish_logo(href="https://github.com/tbushman/pu" target="_blank")
			img(src="/images/publish_logo.svg")
			
		
		
		
		
