extends layout
block page
	- var menu = "login"
block content
	div#select(class="blog")
		div.menu(class="blog")
			
			div.topLeft
			div.topRight
		div.grid-container.blog
			include menu.pug
			include datagallery.pug