- var keys = ["substrates", "filling"]
//- - var keys = ["draw", "erase"]
// type = "draw" || "blog"
div.grid-header.mainHeader
	//if (drawtype)
	a.mainmenu(v-if="(doc && doc.properties && type === 'draw' && pu && loggedin === pu.username)", href="#", title="Save", id="save", aria-labelledby="continue", 
		@click="saveImage()"
		)
		img.i(src="/images/icons/check.svg")
	
	a.dropdown.mainmenu(v-else :class="(!type ? 'blog' : type)" href="#" title="Menu" @click="dropdown($event)")
		img.i(src="/images/menu_button.svg")
	//- a.mainmenu(v-else-if="type === 'draw'" href="#", title="Menu")
	//- 	img.i(src="/images/menu_button.svg")
	div.pullquote
	//- a.tool(v-if="doc && index && doc.properties && type === 'draw'", v-for="(ing, j) in keys", href="#", @click="initBrush(ing)")
	//- 	//onclick="if(event.preventDefault) event.preventDefault(); else event.returnValue = false; $.post('/api/selectlayer/"+menuData.urltitle+"/"+menuData.pageindex+"/"+index+"/"+drawtype+"/"+layer+"', function(){uiErase('"+menuData.urltitle+"',"+menuData.pageindex+","+index+",'"+drawtype+"',"+layer+");})"
	//- 	.ui(v-for="(cat, i) in doc.properties[ing]" v-if="cat.unlocked")
	//- 		img(:src="'/images/icons/'+ing+'_'+i+'.svg'")
	//- 		span.tb-font-m.translate(v-text="cat.name")

			
div.grid-left#tl
	#wrapper
		div#tlmodules.dropdown
			a.module(href="/home", title="home")
				.ui
					img(src="/images/icons/home.svg")
				span.tb-font-l Home
			
			a.module(v-if="pu && loggedin === pu.username", href="/sig/editprofile", title="View and edit your profile")
				.ui
					img(src="/images/icons/profile.svg")
				span.tb-font-l Profile
			
			a.module(v-if="pu && pu.admin", href="/api/publish", title="Dashboard")
				.ui
					img(src="/images/icons/dashboard.svg")
				span.tb-font-l Dashboard
			a.module(v-if="loggedin", href="/logout", title="logout")
				.ui
					img(src="/images/icons/logout.svg")
				span.tb-font-l Log out
			a.module(v-if="!loggedin", href="/login", title="login") 
				.ui
					img(src="/images/icons/login.svg")
				span.tb-font-l Login
				

