div.grid-header.mainHeader
	//#app(style="pointer-events:none;display: inline-block;float: left;margin: 0 auto;width: auto;position: absolute;z-index: 50;height: 33.2%;")

	if (type === 'draw')
		a.mainmenu(href="#", title="Save", id="save")
			img.i(src="/images/icons/check.svg")
	else
		a.dropdown.mainmenu(href="#", title="Menu")
			img.i(src="http://pu.bli.sh/images/menu_button.svg")

	
div.grid-left
	#wrapper
		div#tlmodules.dropdown
			a.module(href="/", title="home")
				.ui
					img(src="/images/icons/home.svg")
				span.tb-font-l Home
			if (loggedin)
				if (menuData)
					if (menuData.publishers[0].username === loggedin)
						if (doc)
							a.module.dropdown(title="edit")
								.ui
									img(src="/images/icons/edit.svg")
								span.tb-font-l Edit
						
							each module, j in menuData.content
								if (j === menuData.content[index].index)
									if (menuData.content[index][drawtype])
										each ing, k in menuData.content[index][drawtype]
											
											a.module.focus.drop(href="#", onclick="document.getElementById('form_"+drawtype+"_"+k+"').submit();")
												.ui
													img(src="/images/icons/"+drawtype+"_"+k+".svg")
												span.tb-font-l #{ing.name}

												form(id="form_"+drawtype+"_"+k+"", method="POST", enctype="multipart/form-data", action="/api/selectlayer/"+menuData.urltitle+"/"+menuData.pageindex+"/"+module.index+"/"+drawtype+"/"+k+"")
													input(type="hidden", value="1", name= ing.name)
													input(type="hidden", id="inputimg_"+drawtype+"_"+k+"", name= ing.name, value= ing.image)
									else
										- var catKeys = Object.keys(menuData.content[index])
										each cat, c in menuData.content[index]
											if (Array.isArray(cat))
												
												a.module.dropdown(title= catKeys[c])
													.ui
														img(src="/images/"+catKeys[c])
						a.module(href="/logout", title="logout")
							.ui
								img(src="/images/icons/logout.svg")
							span.tb-font-l Log out
			else
				a.module(href="/login", title="login") 
					.ui
						img(src="/images/icons/login.svg")
					span.tb-font-l Login
				
				//-
					a.module(href="/register", title="register") 
						.ui
							i.fa.fa-id-card-o
						span.tb-font-l Register
