- var keys = ["substrates", "filling"]
div.grid-left#tl
	a.mainmenu.img.accordion(v-if="(doc && doc.properties && type === 'draw' && pu && loggedin === pu.username)", href="#", title="Save", id="save", aria-labelledby="continue", 
		@click="saveSignature()"
		style="background-color:var(--highlight);")
		//- img.i(src="/images/icons/check.svg")
		.ui(style="pointer-events: none;width:36px;height:36px;")
			
			svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve")
				polygon(points="90.991,34.149 82.271,25.428 42.738,64.961 17.73,39.953 9.008,48.674 42.714,82.38 ")

	a.dropdown.mainmenu.img.accordion(v-else href="#" title="Menu" @click="dropdown($event)" :class="(dd ? 'selected ' + (!type ? 'blog' : type) : (!type ? 'blog' : type))")
		//- img.i(src="/images/menu_button.svg")
		.ui(v-if="dd" style="pointer-events: none;width:36px;height:36px;")
			
			svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 448 512")
				path(d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z")
		
		.ui(v-else-if="!dd" style="pointer-events: none;width:30px;height:30px;margin: 0 3px;")
			svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30.1 28" enable-background="new 0 0 30.1 28" xml:space="preserve")
				path(d="M1.103,4.464c-0.605,0-1.1-0.493-1.1-1.1v-2.3c0-0.606,0.493-1.1,1.1-1.1h27.894c0.606,0,1.1,0.494,1.1,1.1v2.3c0,0.606-0.492,1.1-1.1,1.1H1.103z")
				path(d="M1.103,16.464c-0.605,0-1.1-0.493-1.1-1.1v-2.3c0-0.606,0.493-1.101,1.1-1.101h27.894c0.606,0,1.1,0.494,1.1,1.101v2.3c0,0.606-0.492,1.1-1.1,1.1H1.103z")
				path(d="M1.103,27.962c-0.605,0-1.1-0.494-1.1-1.101v-2.301c0-0.604,0.493-1.1,1.1-1.1h27.894c0.606,0,1.1,0.494,1.1,1.1v2.301c0,0.605-0.492,1.101-1.1,1.101H1.103z")
			//- svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 448 512")
			//- 	path(d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z")

	#wrapper
		div#tlmodules.dropdown(:class="(dd ? 'selected ' + (!type ? 'blog' : type) : (!type ? 'blog' : type))")
			a.module(href="/home", title="home")
				.ui
					img(src="/images/icons/home.svg")
				span.tb-font-l Home
			
			a.module(v-if="doc && pu && pu.admin", :href="'/api/editcontent/'+doc._id")
				.ui
					svg(version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						width="29.926px" height="30.194px" viewBox="0 -15.917 29.926 30.194" enable-background="new 0 -15.917 29.926 30.194" xml:space="preserve")
						polygon(style="fill: #36616c; fill:var(--highlight);" points="1.814,7.751 6.544,12.479 0.652,13.546 ")
						rect(style="fill: #36616c; fill:var(--highlight);" x="2.177" y="-4.323" transform="matrix(0.7071 -0.7071 0.7071 0.7071 4.3984 10.1875)" width="24.641" height="8.214")
						path(style="fill: #36616c; fill:var(--highlight);" d="M21.892-13.419l1.286-1.286c0-0.002,0.282-0.254,0.855-0.254c0.644,0,1.738,0.324,3.296,1.884c2.812,2.809,1.688,4.139,1.637,4.191l-1.273,1.273L21.892-13.419z")
				span.tb-font-l(v-text="'Edit'")

			a.module(v-if="doc && pu && pu.admin", :href="'/api/exportword/'+doc._id")
				.ui
					img(src="/images/external.svg")
				span.tb-font-l(v-text="'Export'")
			a.module(v-if="pu && loggedin === pu.username", href="/sig/editprofile", title="View and edit your profile")
				.ui
					img(src="/images/icons/profile.svg")
				span.tb-font-l Profile
			
			a.module(v-if="pu && pu.admin", href="/api/publish", title="Dashboard")
				.ui
					img(src="/images/icons/dashboard.svg")
				span.tb-font-l Dashboard
			a.module(v-if="loggedin", href="/logout", title="logout")
				.ui
					img(src="/images/icons/logout.svg")
				span.tb-font-l Log out
			a.module(v-if="!loggedin", href="/login", title="login") 
				.ui
					img(src="/images/icons/login.svg")
				span.tb-font-l Login
				

