- var keys = ["substrates", "filling"]

div.grid-header.mainHeader
	//if (drawtype)
	
	
	if (loggedin && drawtype && loggedin === menuData.publishers[0].username)
		- var allergies = menuData.publishers[0].allergies
		if (contentData && type === "draw")
			a.mainmenu(href="#", title="Save", id="save", aria-labelledby="continue", onclick="if(event.preventDefault) event.preventDefault(); else event.returnValue = false; $.post('/api/nextstep/"+menuData.urltitle+"/"+menuData.pageindex+"/"+index+"/"+drawtype+"/"+layer+"').done(function(response){if (document.getElementsByClassName('layer')[0] !== null) {saveImage(document.getElementsByClassName('layer')[0])}})")
				img.i(src="/images/icons/check.svg")
		else
			
			a.dropdown.mainmenu(href="#", title="Menu")
				img.i(src="/images/menu_button.svg")
			
			
		
		
				
				
					
		div.pullquote
		if (type === "draw")
			each ing, j in keys
				if (contentData !== undefined)
					each cat, i in contentData[ing]
						if (cat.unlocked && allergies.indexOf(cat.name) === -1)
							if (ing === 'substrates' && i === 0)
								a.tool(href="#", onclick="if(event.preventDefault) event.preventDefault(); else event.returnValue = false; $.post('/api/selectlayer/"+menuData.urltitle+"/"+menuData.pageindex+"/"+index+"/"+drawtype+"/"+layer+"', function(){uiErase('"+menuData.urltitle+"',"+menuData.pageindex+","+index+",'"+drawtype+"',"+layer+");})")
									.ui
										img(src="/images/icons/"+ing+"_"+i+".svg")
										span.tb-font-m.translate #{cat.name}
							else
								a.tool(href="#", onclick="if(event.preventDefault) event.preventDefault(); else event.returnValue = false; $.post('/api/selectlayer/"+menuData.urltitle+"/"+menuData.pageindex+"/"+index+"/"+ing+"/"+i+"', function(){window.location.href= '/api/selectlayer'})")
									.ui
										img(src="/images/icons/"+ing+"_"+i+".svg")
										span.tb-font-m.translate #{cat.name}
	else
		a.dropdown.mainmenu(href="#", title="Menu")
			img.i(src="/images/menu_button.svg")

		div.pullquote
			if (contentData)
				span.tb-font-xxl.translate #{contentData.description}

			
div.grid-left#tl
	#wrapper
		div#tlmodules.dropdown
			a.module(href="/", title="home")
				.ui
					img(src="/images/icons/home.svg")
				span.tb-font-l Home
			if (loggedin && drawtype && loggedin === menuData.publishers[0].username)
				each ing, j in keys
					if (contentData !== undefined)
						each cat, i in contentData[ing]
							if (cat.unlocked && allergies.indexOf(cat.name) === -1)
								a.module(href="#", onclick="if(event.preventDefault) event.preventDefault(); else event.returnValue = false; $.post('/api/selectlayer/"+menuData.urltitle+"/"+menuData.pageindex+"/"+index+"/"+ing+"/"+i+"', function(){window.location.href= '/api/selectlayer'})")
									.ui
										img(src="/images/icons/"+ing+"_"+i+".svg")
									span.tb-font-m.translate #{cat.name}
									
			if (loggedin)
				a.module(href="/logout", title="logout")
					.ui
						img(src="/images/icons/logout.svg")
					span.tb-font-l Log out
			else
				a.module(href="/login", title="login") 
					.ui
						img(src="/images/icons/login.svg")
					span.tb-font-l Login
				
