extends layout
block page
	//- if (!menu)
	//- 	if (doc)
	//- 
	//- 		- var menu = 'doc'
	//- 	else
	//- 		if (loggedin)
	//- 			if (pageindex)
	//- 				- var menu = 'doc'
	//- 			else
	//- 				- var menu = 'home'
	//- 		else
	//- 			- var menu = 'home'
block content
	
	div#select(:class="type", style="pointer-events: auto;")
		include includes/header.pug

		div.grid-container(:class="type" v-if="dat && dat[0] && dat[0][0]")
			//- - menu = 'home'
			include menu.pug
			div.grid-right(v-for="(data,n) in dat", v-bind:id="n", v-bind:key="n", v-if="data[0]")
				include datagallery.pug
			div(v-else)
				p.tb-font-s(v-text="'Signed documents will appear here.'")
		div.grid-container(:class="type", v-else-if="data && menu !== 'pu'")
			//- - menu = 'home'
			include menu.pug
			include datagallery.pug
		div.grid-container(:class="type", v-else-if="menu === 'doc'")
			include menu.pug
			include docgallery.pug
		div.grid-container(:class="type", v-else-if="menu === 'edit'")
			include menu.pug
			include docedit.pug
		
		
		div.grid-container(:class="type" v-else-if="pu && pu.username === loggedin")
			//- - menu = 'home'
			include menu.pug
			//- include mydata.pug
			//- if (pu)
			//- 	- menu = 'data'
			div.grid-right(v-if="menu === 'pu'")
				include includes/puedit.pug
				
				//div.grid-mid
				p.tb-font-s(v-text="'Documents I have signed'")
				div(v-if="data[0]")
					include datagallery.pug
				//div.grid-left
				//- p.tb-font-s(v-text="'All documents'")
				//- if (dat)
				//- 	- menu = 'home'
				//- 	include datagallery.pug
				
		div.grid-container(v-else-if="!doc && !data && !dat")
			include menu.pug
			div.grid-right(v-if="menu === 'pu'")
				p.tb-font-s(v-text="'Use the menu to access your profile or home.'")
	//-
		initiate map + event listeners
		