extends layout
block page
	if (!menu)
		if (doc)
			
			- var menu = 'doc'
		else
			if (loggedin)
				if (pageindex)
					- var menu = 'doc'
				else
					- var menu = 'home'
			else
				- var menu = 'home'
block content
	
	div#select(:class="type")
		include includes/header.pug
		div.grid-container(:class="type" v-if="doc")
			- console.log('blrg')
			include menu.pug
			include docgallery.pug
		div.grid-container(:class="type" v-else-if="!doc")
			- menu = 'home'
			include menu.pug
			include datagallery.pug

	//-
		initiate map + event listeners
	script(type="text/javascript").

		//http://www.hnldesign.nl/work/code/mouseover-hover-on-touch-devices-using-jquery/
		//- $(document).on('touchstart, mouseover', '.translate', function (e) {
		//- 	var link = $(this); //preselect the link
		//- 	if (link.hasClass('hover')) {
		//- 		return true;
		//- 	} else {
		//- 		e.preventDefault();
		//- 		link.addClass('hover');
		//- 		$('a.taphover').not(this).removeClass('hover');
		//- 		var text = link.html();
		//- 		if (text.split('<')[1] === undefined) {
		//- 			text = encodeURIComponent(text);
		//- 			$.post('/translate/'+text+'').then(function(result){
		//- 				console.log(result)
		//- 				addAlert(result);
		//- 			})
		//- 		}
		//- 		return false;
		//- 	}
		//- });
		//- $(document).on('touchend, mouseleave', '.translate', function (e){
		//- 	var link = $(this); //preselect the link
		//- 	if (link.hasClass('hover')) {
		//- 		$('.translate').removeClass('hover');
		//- 	}
		//- 	removeOldAlert()
		//- 	return true;
		//- });
		