extends layout
block page
	- var menu = "register"
block content
	div#select(class="blog")
		
		
		include includes/header.pug

		div.grid-container(class="blog")
			include menu.pug
			include datagallery.pug
			#response