@charset "UTF-8"; 
:root { 
	--primary: #BAD80A; 
	--secondary: #C5E3F7; 
	--panelheight: 85%; 
	--fontname: 'Open Sans'; 
	--thumbwidth: 70px; 
	--iconwidth: 32px;
	--windowmenu: 85%; 
	--nowindowmenu: 15%; 
} 

.primary {
	background-color: var(--primary);
}
.secondary {
	background-color: var(--secondary)!important;
}

html {
	font-family: Roboto, sans-serif;
}
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: absolute;
}
form {
	overflow-x: hidden;
}
input[type="text"], textarea {
  line-height: normal;
	background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 20px 0;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: all 0.3s;
transition: all 0.3s;
}
button, a[role="button"], input[type="submit"] {
	border: 0;
  font-style: normal;
  font-size: inherit;
  text-transform: inherit;
	background: none;
	cursor: pointer;
	background-color: var(--primary);
	padding: 8px;
}

circle {
	pointer-events: auto;
	cursor: grab;
}
i, .i {
	width: calc(var(--thumbwidth)/2);
	height: calc(var(--thumbwidth)/2);
	font-size: calc(var(--thumbwidth)/2);
	float: left;
	margin: 0 auto;
}
#alert {
	position: absolute;
	margin: 0 auto;
	left: var(--thumbwidth);
	right: 0;
	bottom: calc(var(--thumbwidth)/2);
	top: auto;
	display: inline-block;
	z-index: 2;
	pointer-events: none;
}
#modal {
	position: absolute;
	width: 50%;
	height: auto;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: calc(50% - var(--thumbwidth));
	top: auto;
	display: inline-block;
	z-index: 2;
	background: #fff;
	padding: calc(var(--thumbwidth)/2);
}
.avatar {
	max-width: 250px;
	margin: 0 auto;
}
.avatar-lg img {
	margin: 0 auto;
	display: inline-block;
	float: left;
	width: 250px;
}
.avatar-sm img {
	width: 100px;
}
.ui {
	width: var(--thumbwidth);
	height: var(--thumbwidth);
}
/*.ui > img {
	width: 100%;
	height: 100%;
}*/
#app {
	pointer-events: none;
    display: inline-block;
    float: left;
    margin: 0 auto;
    width: auto;
    position: absolute;
    z-index: 50;
    height: 33.2%;
    left: -3.66%;
    top: -16.68%;
}
.tb-font-xxs {
	font-family: var(--bfontname), sans-serif!important;
	font-size: calc(var(--thumbwidth) / 6);
	color: var(--secondary);
	text-transform: uppercase;
	font-weight: 600;
}
.tb-font-xs {
	font-family: var(--bfontname), sans-serif!important;
	font-size: calc(var(--thumbwidth) / 4.8);
	font-weight: 600;
}
.tb-font-s {
	font-family: var(--bfontname), sans-serif!important;
	font-size: calc(var(--thumbwidth) / 4.5);
	font-weight: 300;
}
.tb-font-m {
	font-family: var(--bfontname), sans-serif!important;
	font-size: calc(var(--thumbwidth) / 4);
	font-weight: 300;
}
.tb-font-l {
	font-family: var(--bfontname), sans-serif!important;
	font-size: calc(var(--thumbwidth) / 3.5);
	font-weight: 300;
}
.tb-font-xl {
	font-family: var(--afontname), sans-serif!important;
	font-size: calc(var(--thumbwidth) / 3);
	font-weight: 300;
}
.tb-font-xxl {
	font-family: var(--afontname), sans-serif!important;
	font-size: calc(var(--thumbwidth) / 2);
	font-weight: 300;
}

.inner .grid-left .tb-font-m {
	position: absolute;
}

i.fa {
	color: rgba(201, 202, 203, 1);
}

i.fa.active {
	color: var(--primary);
}

.tb-u-100 {
	width: 100%;
	display: inline-block;
}

.tb-u-33 {
	width: 33%;
	display: inline-block;
	text-align: center;
	margin: 0 4px 10px 0;
}
.tb-u-50 {
	width: 45%;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}

#hide .tb-font-xxs {
	font-size: 8px;
	letter-spacing: 0.045em;
	color: rgba(201, 202, 203, 1);
}
.pullquote {
	display: block;
	position: relative;
	/*top: calc(var(--nowindowmenu) + 15px);*/
	z-index:1;
}
.pullquote > .tool > .ui > img {
	height: calc(var(--thumbwidth)/1.5);
}
.pullquote >  span.translate {
	display: none;
}
@supports not (display:grid) {
	.pullquote {
		left: var(--thumbwidth);
	}
}
.pullquote > a > .over {
	font-weight: 200;
	pointer-events: auto;
	color: var(--secondary);

}
.pullquote > .hang {
	color: rgba(255,255,255,0);
	letter-spacing: .12em;
	margin-left: -10px;
	font-weight: 200;
}
.pullquote .tb-font-xxl {
	color: rgba(211, 212, 213, 1);
}

.tool > span {
	
}
#select {
	height: 100%;
	display: block;
	width: 100%;
	overflow-x: hidden;
}

.grid-container {
	height: auto;
	width: auto;
	display: grid;
	grid-template-columns: auto minmax(-webkit-max-content, 0px) minmax(100%, 180px);
	grid-template-columns: auto minmax(max-content, 0px) minmax(100%, 180px);
	grid-template-rows: minmax(-webkit-max-content, var(--thumbwidth)) minmax(-webkit-max-content, 100%) var(--thumbwidth);
	grid-template-rows: minmax(max-content, var(--thumbwidth)) minmax(max-content, 100%) var(--thumbwidth);
	background-color: rgba(255,255,255,0);
	background-image: radial-gradient(circle at calc(var(--thumbwidth) / 2) 0, rgba(255, 255, 255, 0) calc(var(--thumbwidth) / 2), rgba(255, 255, 255, 0.9) calc(var(--thumbwidth) / 2));
	pointer-events: auto;
	grid-template-areas:
		"sideleft head head"
		"sideleft mid sideright"
		"sideleft footer footer";
	position: -webkit-sticky;
	position: sticky;
	bottom: calc(var(--thumbwidth) - var(--windowmenu));
	top: auto;
	min-height: var(--panelheight);
}
.grid-container.blog {
	height: var(--panelheight);
	/*width: calc(100% - var(--thumbwidth));*/
	width: 100%;
	overflow-y: scroll;
}
.grid-container.draw {
	height: var(--panelheight);
	width: 100%;
}
@supports not (display:grid) {
	.grid-container {
		display: inline-block;
		position: absolute;
		top: auto;
		height: var(--panelheight);
	}
	.grid-container.draw {
		top: var(--panelheight);
	}
	.grid-container.blog {
		top: var(--nowindowmenu);
	}
}
@supports not (position:sticky) {
	.grid-container {
		display: inline-block;
		position: absolute;
		top: auto;
		height: var(--panelheight);
		overflow-y: scroll; 
	}
	.grid-container.draw {
		top: var(--panelheight);
	}
	.grid-container.blog {
		top: var(--nowindowmenu);
	}
}

.grid-container.inner {
	height: auto;
	grid-template-columns: var(--thumbwidth) auto minmax(100%, 180px);
	grid-template-rows: var(--thumbwidth) auto auto;
	background-image: none;
	grid-template-areas:
		"head head head"
		"sideleft mid sideright"
		"footer footer footer";
	min-height: 170px;
	background-color: rgba(255,255,255,0);
	overflow-x: hidden;
	position: static;
}
@supports not (display:grid) {
	.grid-container.inner {
		display: block;
		position:static;
	}
}
@supports not (position:sticky) {
	.grid-container.inner {
		display: block;
		position:static;
		bottom:0;
	}
}
.grid-header {
	grid-area: head;
	background-color: rgba(255,255,255,0.5);
	height: auto;
	max-height: 220px;
	max-width: calc(100% - var(--thumbwidth));
}
@supports not (display:grid) {
	.grid-header {
		display: inline-block;
		width: 100%;
		float: right;
		min-height: 2em;
		position: relative;
		left:0;
		right:0;
	}
}
@supports not (position:sticky){
	.grid-header {
		display:inline-block;
		width:100%;
		float:right;
		min-height:2em;
		position: relative;
		left:0;
		right:0;
	}
}
.grid-header.mainHeader {
	max-width: calc(100% - calc( 2 * var(--thumbwidth)));
	background-color: rgba(255,255,255,0);
	min-height: 80px;
	overflow: scroll;
	white-space: nowrap;
	margin-right: -180px;
}
@supports not (display:grid) {
	.grid-header.mainHeader {
		float: left;
		margin-right: 0;
		overflow: hidden;
	}
}
a.grid-header:hover {
	color: var(--secondary);
}
.grid-left {
	position: static;
	grid-area: sideleft;
	overflow: hidden;
	pointer-events: none;
	background-color: rgba(255,255,255,0.5);
	min-width: var(--thumbwidth);
}
@supports not (display:grid) {
	.grid-left, #tl {
		display: inline-block;
		max-width: var(--thumbwidth);
		float: left;
	}
	.inner > .grid-left {
		float: left;
	}
}
.grid-mid {
	grid-area: mid;
	overflow: hidden;
	background-color: rgba(255,255,255,0);
}
@supports not (display:grid) {
	.grid-mid {
		display: inline-block;
		width: auto;
		min-width: 0;
		float: left;
		max-height: calc(var(--panelheight) - 120px);
		position: relative;
	}
}
@supports not (position:sticky) {
	.grid-mid {
		display: inline-block;
		width: auto;
		min-width: 0;
		float: left;
		max-height: calc(var(--panelheight) - 120px);
		position: relative;
	}
}

.grid-right {
	grid-area: sideright;
	background-color: #fff;
	left: 0;
	overflow-y: scroll;
	line-height: calc(var(--thumbheight)/3);
	min-height: calc(var(--panelheight) - 220px);
	max-height: 100%;
	max-width: calc(100% - var(--thumbwidth));
	min-width: 0;
	
}
.grid-container.inner > .grid-right {
	width: calc(100% - var(--thumbwidth));
	background-color: rgba(255,255,255,0);
	min-height: 250px;
	bottom: 0;
	top: 0;
	padding-left: 10px; 
	display: inline-table;
}
@supports not (display:grid) {
	.grid-right {
		width: calc(100% - var(--thumbwidth));
		display: inline-block;
		float: right;
		position: relative;
	}
	#select.draw .grid-right {
		display: none;
	}
}
@supports not (position:sticky) {
	.grid-right {
		width: calc(100% - var(--thumbwidth));
		position: relative;
		display: inline-block;
		float: right;
	}
}
.grid-right p {
	margin-top: 0;
}
.grid-footer {
	grid-area: footer;
	background-color: #fff;
	height: auto;
	white-space: normal;
	max-width: calc(100% - var(--thumbwidth));
}
@supports not (display:grid) {
	.grid-footer {
		display: inline-block;
		width: 100%;
	}
}
a {
	pointer-events: auto;
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}
.spacer {
	margin-top: 30px;
}
hr {
	height: 0;
	border-top: 1px solid #c8c8c8;
	border-left: 0;
	border-right: 0;
	border-bottom: 0
}
div.blogname {
	font-size: 3vh;
	font-weight: 300;
	text-transform: none;
	letter-spacing: 0;
	color: var(--primary)!important;
	white-space: nowrap;
	margin-top: 0;
}
.hideoverlap {
	white-space: nowrap;
}

div.dashboard {
	width: auto;
	position: absolute;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	pointer-events: none;
}
div.menu {
	-webkit-mask-image: radial-gradient(circle at calc(var(--thumbwidth) / 2) 100%, rgba(255, 255, 255, 0) 20px, rgba(255, 255, 255, 1) 19px);
	mask-image: radial-gradient(circle at calc(var(--thumbwidth) / 2) 100%, rgba(255, 255, 255, 0) 20px, rgba(255, 255, 255, 1) 19px);
	display: block;
	bottom: auto;
	position: relative;
	pointer-events: auto;
	width: 100%;
	overflow: hidden;
	height: 100%;
}
#select.map .menu {
	display: inline-block;
	pointer-events: none;
	width: 100%;
	height: var(--thumbwidth);
	overflow: hidden;	
	-webkit-mask-image: radial-gradient(circle at 50% 0, rgba(255, 255, 255, 0) 20px, rgba(255, 255, 255, 1) 19px);
	mask-image: radial-gradient(circle at 50% 0, rgba(255, 255, 255, 0) 20px, rgba(255, 255, 255, 1) 19px);
	position: static;
	overflow: hidden;
	
}
div.blog > .menu {
	display: block;
	bottom: var(--nowindowmenu);
	position: -webkit-sticky;
	position: sticky;
	pointer-events: auto;
	width: 100%;
	height: var(--nowindowmenu);
	overflow: hidden;
}
div.draw > .menu {
	height: var(--panelheight);
	position: relative;
	top: 0;
}
#select.draw > .pullquote {
	top: var(--panelheight);
}
div.dashboard .menu {
	display: inline-block;
	pointer-events: none;
	width: 100%;
	height: var(--nowindowmenu);
}
.topRight {
	position: fixed;
	font-family: var(--bfontname), sans-serif;
	font-size: 2vh;	
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: var(--secondary);
	padding: 0 25px 25px 0;
	background-color: rgba(255,255,255,0);
	z-index: 0;
	margin: 0 auto;
}
.maincanvas.topRight {
	display: block;
	background-attachment: fixed;
	background-image:url('');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-transition: background-image 1.3s ease-in-out;
	-moz-transition: background-image 1.3s ease-in-out;
	-ms-transition: background-image 1.3s ease-in-out;
	-o-transition: background-image 1.3s ease-in-out;
	-webkit-transition: background-image .3s ease-in-out;
	transition: background-image .3s ease-in-out;
}

.layer.topRight {
	display: block;
	pointer-events: auto;
	background-attachment: fixed;
	background-image:url('');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-transition: background-image 1.3s ease-in-out;
	-moz-transition: background-image 1.3s ease-in-out;
	-ms-transition: background-image 1.3s ease-in-out;
	-o-transition: background-image 1.3s ease-in-out;
	-webkit-transition: background-image .3s ease-in-out;
	transition: background-image .3s ease-in-out;
}
div.menu > div.topLeft {
	padding: 10px 0 0 0;
	top: 0;
	right: auto;
	left: 0;
	right: auto;
	position: fixed;
	height: 100%;
	width: var(--thumbwidth);
	background-color: rgba(255,255,255,0);
	background-attachment: fixed;
	background-image:url('');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-transition: background-image 1.3s ease-in-out;
	-moz-transition: background-image 1.3s ease-in-out;
	-ms-transition: background-image 1.3s ease-in-out;
	-o-transition: background-image 1.3s ease-in-out;
	-webkit-transition: background-image .3s ease-in-out;
	transition: background-image .3s ease-in-out;
	pointer-events: none;
}

.overtext {
	position: fixed;
	top: calc(var(--thumbwidth)/6);
	left: var(--thumbwidth);
}
.blogname {
	position: fixed;
	top: calc(var(--thumbwidth)/2.5);
	left: var(--thumbwidth);
}
a.mainmenu {
	position: absolute;
	top: -10px;
	/*top: calc(var(--windowmenu) - 15px);*/
	left: calc(var(--thumbwidth) / 4);
	right: auto;
	bottom: auto;
	height: auto;
	pointer-events: auto;
	z-index: 3;
}
@supports not(display:grid) {
	a.mainmenu {
		position: fixed;
		/*left: calc( var(--thumbwidth) * 0.5);*/
		top: var(--nowindowmenu);
	}
	.draw a.mainmenu {
		top: var(--panelheight);
	}
}
@supports not(position:sticky) {
	a.mainmenu {
		position: fixed;
		/*left: calc( var(--thumbwidth) * 0.5);*/
		top: var(--nowindowmenu);
	}
	.draw a.mainmenu {
		top: var(--panelheight);
	}
}
div.dropdown {
	margin: var(--iconwidth) 0;
	background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 1)),  to(rgba(255, 255, 255, 0.3)));
	background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3));
	background-color: rgba(255,255,255,0);
	width: 180px;
	z-index: 2;
	position: absolute;
}
@supports not(display:grid){
	/*div.dropdown {
		left: var(--thumbwidth);
	}*/
}
.module {
	width: 100%;
	float: left;
	right: 0;
	min-width: var(--thumbwidth);
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	pointer-events: auto;
	background-color: #fff;
	display: inline-block;
	margin: 0 auto;
	height: auto;
	min-height: var(--thumbwidth);
}
.module input:focus {
	display: inline-block;
}
.module .ui {
	display: inline-block;
	margin: 0 auto;
	float: left;
	width: var(--thumbwidth);
}
.module .ui i.fa {
	width: 100%;
	text-align: center;
	font: normal normal normal var(--iconwidth)/1 FontAwesome;
}
.module .ui img {
	width: 2em;
	text-align: center;
	margin: 0 auto;
	display: inherit;

}
.module:hover .ui i.fa, .module:focus .ui i.fa {
	color: var(--primary);
}
.module.active .ui i.fa {
	color: var(--primary);
}

.module > span {
	text-align: left;
	display: none;
	height: 1.9em;
	float: left;
	text-transform: uppercase;
	letter-spacing: 0.09em;
	padding: 7px 0 4px 4px;
	color: #555;
	text-shadow: 0 0 2px #fff;
	-moz-text-shadow: 0 0 2px #fff;
	-webkit-text-shadow: 0 0 2px #fff;
	z-index:1;
	margin: 0 auto;
}
a.tool {
	width: calc(var(--thumbwidth)*1.1);
	margin: 0 auto;
	display: inline-block;
}
a.tool .ui {
	width: var(--thumbwidth);
	position: relative;
	margin: 0 auto;
}

a.tool > .ui > img {
	/*width: calc(var(--thumbwidth)/1.25);*/
	height: calc(var(--thumbwidth)/2.5);
	left: 50%;
	top: 50%;
	width: auto;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	display: table;
	position: absolute;
	text-align: center;
}
a.tool span {
	font-size: calc(var(--thumbwidth)/6.5);
	text-align: center;
	margin: 0 auto;
	display: table;
	white-space: nowrap;
	
}
.module:hover span, .module:focus span, .module.selected span {
	display: inline-block;
}
#mySearch {
	margin: 0 0 1.5px -48px;
}
#map, #nomap {
	position: fixed;
	margin: 0;
	padding: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index:-2;
	background-color: var(--secondary);
}
#nomap {
	z-index:-3;
}
#tlmonth.block {
	padding: 0;
	text-align: center;
	color:white;
	border-top: 1px solid #fff;
}
.noline {
	padding: 0;
	border-top: 0 #fff solid;
	text-align: center;
	color:white;
}
.tightlead {
	line-height: 0;
	text-align: left;
}
#tl > .ms-Button {
	display: inline;
	position: fixed;
	z-index:1;
	top: calc(var(--nowindowmenu));
}
#wrapper {
	height: auto;
	min-height: 100%;
	position: absolute;
	width: auto;
	min-width: var(--thumbwidth);
	max-width: 100%;
	/*cursor: -webkit-grab;
	cursor: grab;*/
	display: inline-block;
	margin-top: 0;
	top: var(--nowindowheight);
}

#tlmodules {
	min-height: 1px;
	width: var(--thumbwidth);
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	float: left;
}
#tlmodules:hover {
	width: 250px;
}
#tlmodules:focus, #tlmodules .module.selected, #tlmodules .module:focus {
	width: auto;
	min-width: 250px;
	background-color: #fff;
}
.hovertext {
	-ms-transform: rotate(90deg);
	    -ms-transform-origin: 0 100%;
	    -webkit-transform: rotate(90deg);
	    -webkit-transform-origin: 0 100%;
	    transform: rotate(90deg);
	    transform-origin: 0 100%;
	bottom: auto;
	float: left;
	text-align: left;
	position: absolute;
	left: 0;
	right: auto;
	margin-left: -15px;
	margin-top: -40px;
	white-space: nowrap;
	font-size: 8px;
}
.module > p {
	text-align: left;
	line-height: 0.95em;
	float: left;
	letter-spacing: 0.01em;
	padding: 0 4px 4px 4px;
	color: rgba(205, 206, 207, 1);
	text-shadow: 0 0 2px #fff;
	-moz-text-shadow: 0 0 2px #fff;
	-webkit-text-shadow: 0 0 2px #fff;
}
.module > .time {
	top: -20px;
	position: relative;
	color: #000;
	text-align: right;
	padding: 4px;
	height: 0;
	margin-bottom: -19px;
	white-space: nowrap;
}
.module.dropdown:hover, .module.dropdown:focus {
	background-color: #fff;
}

#tllabels {
	height: 100%;
}
#tlyear, #tlmonth {
	position: relative;
	min-height: 1px;
	padding-left: 8px;
	padding-right: 8px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
#tlmonth {
	height: 8.33333333332%;
	width: 50.5%;
	float: right;
}
#tlmonth > span {
	top: 11px;
	position: relative;
	color: rgba(238, 244, 222, 0.8);
}
#tlyear {
	height: 100%;
	float: left;
}
.year {
	position: absolute;
	float: left;
	width: var(--thumbwidth);
	z-index: 1;
}
#tlyear > span {
	color: rgba(205, 206, 207, 1);
	-ms-transform: rotate(90deg);
	    -ms-transform-origin: 0 100%;
	    -webkit-transform: rotate(90deg);
	    -webkit-transform-origin: 0 100%;
	    transform: rotate(90deg);
	    transform-origin: 0 100%;
	position: relative;
	float: left;
	left: 0;
}
.thumbnail {
	pointer-events: auto;
	float: left;
	position: relative;
	width: var(--thumbwidth);
	height: var(--thumbwidth);
	overflow: hidden;
	margin-left: 0;
	height: 70px;
	margin-right: 8px;
	width: 70px;
}
.thumbnail > img, .thumbnail > canvas {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 200%;
	width: auto;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.actions {
	position: absolute;
	z-index: 1;
	line-height: 1.4vh;
	color: rgba(244, 245, 246, 0.7);
	font-size: 5vh;
	bottom: 0;
	cursor: pointer;
}
.actions:hover {
	color: rgba(244,245,246,0.9);
}
.actions .tb-font-xxs {
	letter-spacing: 0.1em;
	line-height: calc(var(--thumbwidth)/2.5);
}
#closepanel {
	position: fixed;
	top: 20px;
	right: 18px;
	bottom: auto;
	left: auto;
	color: #A6A6A6;
}
#editbutton, .over {
	bottom: auto;
	left: auto;
	color: #A6A6A6;
}
.ms-Button-icon > i {
	color: #A6A6A6;
}
#append {
	min-height: 49%;
}
#append > img {
	height: auto;
	width: auto;
	max-width: 100%;
}
#avatar, #resume, #media, #media1 {
	padding: 0;
	background-color: rgba(255, 255, 255, 0);
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
}
#publish_logo {
	position: fixed;
	bottom: 10px;
	right: 10px;
	top: auto;
	left: auto;
	min-width: 100px;
	max-width: 150px;
	margin: 0 0 0 51%;
	z-index:1;
}
#publish_logo > img {
	width: 100%;
	height: auto;
}
.picker__select--year {
	overflow-y: scroll;
}
#arrows {
	pointer-events: none;
	height: 100%;
	z-index:1;
	margin: 0 auto;
	width: var(--thumbwidth);
}

.arrow {
	pointer-events: auto;
	color: rgba(205, 206, 207, 1);
	font-size:40px;
	display:block;
	width: var(--thumbwidth);
	position: fixed;
	z-index: 5;
}
.arrow:hover {
	background-color: rgba(255, 255, 255, 0.5);
}
.reverse {
	float: left;
	margin-top: calc(var(--thumbwidth) / 2);
	max-height: 50%;
	top: 0;
}
.forward {
	float: right;
	margin-bottom: 10px;
	max-height: 50%;
	bottom: 0;
}
.arrow > i {
	margin: 0 auto 0 auto;
	width: 100%;
	text-align: center;
}
.ms-ListItem-secondaryText  {
	font-size: 13px;
	white-space: normal;
	line-height: 1.1em;
	padding: 5px 55px 5px 0;
}
.ms-ListItem-tertiaryText {
	font-size: 13px;
	color: #999;
}
form#form {
	width: auto;
	min-width: 90%;
}
#inputtext {
	min-height: 100px;
}
@media (max-width: 639px) and (orientation: portrait) {
	#publish_logo {
		min-width: 50px;
		max-width: 100px;
	}

}

@media (min-height: 600px) {
	/*:root { 
		--primary: #BAD80A; 
		--secondary: #C5E3F7; 
		--panelheight: 85%; 
		--fontname: 'Open Sans'; 
		--thumbwidth: 70px; 
		--iconwidth: 32px;
		--windowmenu: 85%; 
		--nowindowmenu: 15%; 
	}*/
}
@media (min-width: 640px) and (orientation: landscape) {
	

}
@media (min-width: 1024px) and (orientation: landscape) {
}
